{% extends "base.html" %}
{% set active_page = "browse" %}

{% block body_content %}

<script>
  var pat_info="Select patient";
  $(function() {
    $( "#pat_menu" ).menu ({
      select: function(event,data){
        $( "#pat_demograph" ).html("Info for patient: " +
        event.toElement.innerText +"<br /><br /> Age:<br /><br />Address: <br /><br /> Date last image taken:<br />");
        //this will eventually be pulled from a database to show recent info about patient
      }
    });
  });
</script>
</br>
</br>
<h1>Browse through patient listing</h1>
<div class="row">

  <ul class="col-md-2" id="pat_menu">
    <li>Carter, David JR  </li>
    <li>Kane, Robert</li>
    <li>Smith, Carl</li>
    <li>Tully, Roberta</li>
  </ul>
  <label class="col-md-4" id="pat_demograph">Select Patient</script></label>
  <div class="col-md-4">
    <button class="col-md-3">Select Patient</button>
    <div class="col-md-3"></div>
    <button class="col-md-3">Cancel</button>
  </div>
</div>
{% endblock body_content %}