{% extends "base.html" %}
{% set active_page = "import" %}

{% block head_scripts %}
  {{super()}}
  <script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="static/js/flow.js"></script>
  <script type="text/javascript" src="static/js/flow.min.js"></script>
{% endblock head_scripts %}

{% block body_content %}
</br>
</br>
</br>
</br>
<div class='row' id="selectSort">
<button class="button col-md-1" id="swap" sortvalue=".fundus">Fundus Filter</button>
<button class="button col-md-1" id="swap" sortvalue=".visible">Visible Filter</button>
<button class="button col-md-1" id="swap" sortvalue=".hyper">Hyperspectral Filter</button>
<div class="col-md-1"></div>
<button class="button col-md-1" id="swap" sortvalue="">Day 0</button>
<button class="button col-md-1" id="swap" sortvalue="">Day 1</button>
<button class="button col-md-1" id="swap" sortvalue="">Day2</button>
<!--button class="button col-md-1" id="swap2" sortvalue="imgType">Type Filter</button>-->
<div class="col-md-1"></div>
<button class="button col-md-1" id="swap4" sortvalue="*">Default</button>
</div>
</br>
</br>
<button class="col-md-2" id="img_impt">Import Image</button>
<div class="col-md-2"></div>
<button class="col-md-2">Import Video</button>
<div class="col-md-2"></div>
<button class="Regbutton col-md-2" id="startReg">Register Images</button>
</br>
</br>
<script>
    $('#startReg').on('click', function () {
      if (clickedItems.length == 2) {
        console.log("Attempting to register: " + clickedItems[0] + " and " + clickedItems[0] );
      }
    });
    
    $(document).ready(function() {
      
      //all of the below code lovingly stolen from the MASIR crew
      var flow = new Flow({
        target: '_upload',
        // 1 for serial debugging, may be higher for production
        simultaneousUploads: 1
      });
      if (!flow.support)
      {
          alert_error("Flow is not supported in current browser");
          return;
      }

      flow.assignBrowse($("#img_impt"),false,true);
      
      flow.on("error", function(message, file) {
              alert_error("[Flow] ERROR: (" + file.name + ") " + message);
              return true;
      });
      
      //flow.on("filesSubmitted", function(array, event) {
          //alert_info("[Flow] Uploading files");
      //    flow.upload();
      //});

      flow.on("fileSuccess", function (file, message) {
          alert_success("[Flow] Success uploading file '" + file.name + ": "
                  + message);
          delete ffid_fpi_map[file.uniqueIdentifier];
      });

      flow.on("fileError", function(file, message) {
          alert_error("[Flow] Error uploading file '" + file.name + ": "
                  + message);
          delete ffid_fpi_map[file.uniqueIdentifier];
      });
      //$( "#img_impt" ).click(function() {
      // flow.
      //});
    });
  </script>
</div>

</br>
<div id="mosaic-cont">
  <img class="mosaic fundus visible fake" src="static/img/source/2014_06_30_BSELL_80311_OD_046.JPG">
  <img class="mosaic fundus visible" src="static/img/source/2014_07_01_BSELL_80311_OD_004.JPG">
  <img class="mosaic visible" src="static/img/source/2014_07_10_BSELL_80311_OD_012.JPG">
  <img class="mosaic hyper fake" src="static/img/source/OD_80311_2794_SLO_Raw.png">
  <img class="mosaic hyper fundus" src="static/img/source/OD_80311_2802_SLO_Raw.png">
  <img class="mosaic hyper" src="static/img/source/OD_80311_2822_SLO_Raw.png">
</div>
<script>
  $(document).ready(function() {
    clickedItems = []

    $(window).load(function() {
      IsoContainer = $('#mosaic-cont');
      IsoContainer.isotope({
        layoutMode: 'masonry',
        masonry : {"gutter":5},
        getSortData: {
          fundus:'[fundus]',
          imgType:'[imgType]'}
      });
       
    $('#selectSort').on('click','.button', function () {
    if($(this).attr('id')=='custom') {
      blah = $('#CusFilt')
      console.log(blah[0].value)
      IsoContainer.isotope({filter:blah[0].value});
    }
    else{
      console.log('blah')
      IsoContainer.isotope({filter:$(this).attr('sortvalue')});
    }
    });
    
  IsoContainer.on('click','.mosaic', function() {
    $( this ).toggleClass('mosaic2');
    if (clickedItems.length + 1 > 2) {
      clickedItems[0].toggleClass('mosaic2');
      clickedItems.shift();
      };
    console.log(clickedItems);
    clickedItems.push($(this));

  });
  
    });

  });
</script>

{% endblock body_content %}