{% extends "base.html" %}
{% set active_page = "home" %}
{% block head_scripts %}
  {{super()}}
  <script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
{% endblock head_scripts %}

{% block body_content %}
  <!-- this is a comment too -->
  <div class="container-fluid">
    </br>
    </br>
    </br>
    <h4>Retinal Image Management System</h4>
    </br>
    <img class="wfov" src="static/img/wFOV.png">
    <div class="container-fluid">
      <p>The following work was done under the following Air Force Research Laboratory (AFRL) SBIR</p>
      Contract: FA8650-14-M-6558<br>
      Topic: AF141-028
    </div>
    <h3>Not all functionality is fully implemented, this website is purely for demonstration only.</h3>
    
    <div class="container-fluid">
      <p>This is a mock-up website that represents a potential web interface for a Retinal Image Management System.  It is built
      using the <a href="http://flask.pocoo.org/">Flask Framework</a> in Python.
      There are 5 pages of content:</p>
      

      <dl>
        <dt>Browse</dt>
        <dd>- Select a patient</dd>
        <dt>Manage</dt>
        <dd>- Select Images from the local disk to upload and select images for image registration</dd>
        <dt>Review</dt>
        <dd>- Demonstrate the result of the registration </dd>
        <dd>- Uses the <a href="http://www.pikachoose.com/">Pikachoose.js</a> library</dd>
        <dt>Compare</dt>
        <dd>- Demonstrate the result of the registration over two sets of sample images</dd>
        <dd>- Uses the <a href="http://jsfiddle.net/davidhong/wbxVf/">TwoFace.js</a> library</dd>
        <dt>Analyze</dt>
        <dd>- Demonstrate the result of Change detection over two sets of sample images</dd>
      </dl>
    </div>
    </br>
    </br>
    <p>The image above consists of a series of Color Fundus images which have been stitched into a picture of the entire retina.</p>
  </div>

{% endblock body_content %}