{% extends "base.html" %}
{% set active_page = "home" %}
{% block head_scripts %}
  {{super()}}
  <script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
{% endblock head_scripts %}

{% block body_content %}
  <!-- this is a comment too -->
  <div class="container-fluid">
    </br>
    </br>
    </br>
    <h4>Retinal Image Management System</h4>
    </br>
    <img class="wfov" src="static/img/wFOV.png">

    <p>The work was done under the following Air Force Research Laboratory (AFRL) SBIR</p>
    Contract: FA8650-14-M-6558<br>
    Topic: AF141-028

    <p>It is an mock-up website that represents a potential web interface for a Retinal Image Management System.  It is built
    using the <a href="http://flask.pocoo.org/">Flask Framework</a> in Python.
    There are 5 pages of content:</p>
    
    <h4>All functionality is not fully implemented, this website is purely for demonstration only.</h4>
    <dl>
      <dt>Browse</dt>
      <dd>- Select a patient, review their recent history</dd>
      <dt>Import</dt>
      <dd>- Select Images from the local disc to upload</dd>
      <dt>Register</dt>
      <dd>- Demonstrate the result of the registration </dd>
      <dd>- Uses the <a href="http://www.pikachoose.com/">Pikachoose.js</a> library</dd>
      <dt>Compare</dt>
      <dd>- Demonstrate the result of the registration</dd>
      <dd>- Uses the <a href="http://jsfiddle.net/davidhong/wbxVf/">TwoFace.js</a> library</dd>
      <dt>Analyze</dt>
      <dd>- Demonstrate the result of Change detection over two sets of sample images</dd>


    </dl>

    </br>
    </br>
    <p>The above image consists of a series of Color Fundus images which have been stitched into a picture of the entire retina. </p>    
  </div>

{% endblock body_content %}