{% extends "base.html" %}
{% set active_page = "register" %}

{% block head_scripts %}
  {{super()}}
  <script type="text/javascript" src="static/js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.pikachoose.js"></script>
  <script type="text/javascript" src="static/js/jquery.pikachoose.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.touchwipe.min.js"></script>
  <script type="text/javascript" src="static/js/flow.js"></script>
  <script type="text/javascript" src="static/js/flow.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="static/css/simple.css"/>

{% endblock head_scripts %}

{% block body_content%}
  </br>
  </br>
  </br>
  </br>
  <script>
    $(document).ready(function() {
    
      $( "#imgList").PikaChoose({autoPlay : false});
    });
  </script>
  {% set imgLoc = [
  '/static/img/aligned/aligned_0_2014_06_30_BSELL_80311_OD_046_mapped.png',
  '/static/img/aligned/aligned_1_OD_80311_2794_SLO_Raw_mapped.png',
  '/static/img/aligned/aligned_2_2014_07_01_BSELL_80311_OD_004_mapped.png',
  '/static/img/aligned/aligned_3_OD_80311_2802_SLO_Raw_mapped.png',
  '/static/img/aligned/aligned_4_OD_80311_2822_SLO_Raw_mapped.png',
  '/static/img/aligned/aligned_5_2014_07_10_BSELL_80311_OD_012_mapped.png'
  ] -%}
  
  <div class="row">
    <div class="pikachoose">
      <ul class="col-md-9" id='imgList'>
      {% for path in imgLoc %}
        <li><img src={{ path|escape }}></li>
      {% endfor %}
      </ul>
    </div>

  </div>
{% endblock body_content %}